DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"
PORT=3000
NODE_ENV=development
JWT_SECRET=change-this-secret-in-development
REDIS_URL="redis://localhost:6379"
POSTGRES_DB=url-shortener
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
